<!DOCTYPE html>
html(lang="en")
    head
       include partials/header
       
    body.container
        div(class="row ")
            div(class="col-md-2")
            div(class="col-md-8 mt-5")
                if locals.mensajes
                        
                        each categoria in Object.keys(locals.mensajes)
                            each error in mensajes[categoria]
                                .alert.alert-danger.alert-dismissible.fade.show.mt-2(class=`${categoria}` role='alert')
                                    p= error
                
                form.caja-login(method="POST")
                    h1.text-center= nombrePagina
                    p.text-center Coloca tu Nuevo Password
                    form#formulario(method="POST" action="/iniciar-sesion" class="caja-login mt-5")
                        div(class="form-group")
                            label(for="password") Password:
                            input(type="password" name="password" placeholder="Nuevo Password" value=password class="form-control")
                        input.btn.btn-primary(type="submit", value="Reestablecer Password")
                        