body{
    background-color: #325D88;
}

.blanco{
    background-color: #ffffff;
    
}
.caja-login {
    background-color: rgb(255, 255, 255);
    border: 1px solid #707070;
    max-width: 650px;
    width: 90%;
    margin: 0 auto;
    min-height: 300px;
    -webkit-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    padding: 3rem;
}
.contenedor-formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
a:link {
    text-decoration: none
}

.agregar-tarea {
    max-width: 800px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 2rem;
    color: black;
    font-size: 25px;
    transition: background-color .5s ease-in-out;
    border-radius: 10px;
}

/** Listado Pendientes **/
.listado-pendientes {
    background-color: rgb(255, 255, 255);
    max-width: 800px;
    width: 90%;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.listado-pendientes ul {
    padding: 0;
    list-style: none;
}
.listado-pendientes ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    border-bottom: 1px solid #d1d1d1;
}
.listado-pendientes ul li:last-of-type {
    border-bottom: none;
}
.listado-pendientes ul li i {
    cursor: pointer;
}

.barra-avance {
    height: 30px;
    border: 1px solid #999;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
}
.porcentaje {
    width: 0%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.15) 25%,transparent 25%,transparent 50%,rgba(0, 0, 0, 0.15) 50%,rgba(0, 0, 0, 0.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    transition: width .3s ease;
}

.contenedor-acciones {
    background-color: rgb(255, 255, 255);
    max-width: 800px;
    width: 90%;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    border: 1px solid #999;
}

.completo {
    color: rgb(47, 209, 134);
}

.caja{
    background-color: rgb(255, 255, 255);
    border: 1px solid #707070;
    max-width: 650px;
    width: 450px;
    height: 120px;
    margin: 0 auto;
    
    -webkit-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    padding: 3rem;
    color: black
}

.linea{
    border: solid 1px #000000;
    border-radius: 5px;
}

label{
    color: black
}
.borde{
    border-radius: 5px;
}
.colorH1{
    color: black;
}