mixin crearProyecto(proyecto = {})
    form(action=`/nuevoProyecto/${proyecto.id || ""}` method="POST")
        .form-group
            label(for="nombre") Nombre Proyecto
            input(value=proyecto.nombre type="text" id="nombre" name="nombre" placeholder="Nombre Proyecto" class="form-control borde")
            label(for="descripcion") Descipción Proyecto
            textarea(id="descripcion" name="descripcion" placeholder="Descripción" class="form-control" rows="5" cols="25" class="borde")= proyecto.descripcion
        .campo.enviar
            input(type="submit" value=`${proyecto.nombre ? 'Guardar' : 'Agregar'}` class="btn btn-primary")